/* 
  Styles shared by PlayingCards and SquareCards 
  are in ./src/styles/_cards.scss 
*/

.PlayingCards {
  // background: blue;
  position: relative;
  height: $playingCardHeight;
  width: $playingCardWidth;
  .cardContainer {
    height: $playingCardHeight;
    width: $playingCardWidth;
  }
  .card {
    height: $playingCardHeight;
    width: $playingCardWidth;
  }
  .front, .back {
    height: $playingCardHeight;
    width: $playingCardWidth;
  }
}