.Menu {
  
  div.Menu__row {
    background-color: red;
    cursor: pointer;
    position: relative;
    display: flex;
    a { display: flex } // <Link> 

    div.deckSwap {
      display: flex;
      position: relative;
      background: blue;
      // &:active details { display: block } // click and hold to show swap options
      
      * { margin-left: 10px; }
      h5 { display: none; } // "swap?" question normally hidden
      &:hover h5 { display: flex; } // "swap?" question appears on hover (won't work with mobile)
      
      /*————————————————————————————*
        quick-swap menu shows decks
      /*————————————————————————————*/
      div.deckDiv { 
        // display: none;
        // position: absolute;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        background: green;
        height: 140px;
        width: 140px;
        border-radius: 20px;
      }
    }
  }
  
}