@mixin flex($fd:row, $jc:flex-start, $ai:flex-start, $ac:unset, $fw:unset) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  align-content: $ac;
  flex-wrap: $fw;
}